body {
    font-family: Arial, sans-serif;
    background-color: #333;
    color: white;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}

.navbar {
    background-color: #333;
    color: white;
    padding: 100px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.navbar-title {
    margin-bottom: 20px;
}

.navbar-title h1 {
    margin: 0;
    font-size: 24px;
}

.navbar ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.navbar li {
    margin: 10px 0;
}

.navbar a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    transition: color 0.3s;
}

.navbar a:hover {
    color: #ffcc00;
}

.footer {
    margin-top: 20px;
    text-align: center;
    color: #ccc;
}

.footer a {
    color: blue; /* 将 GitHub 标蓝 */
    text-decoration: none;
    transition: color 0.3s;
}

.footer a:hover {
    color: #ffcc00;
}